/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}

header {
  background-color: #FF8C00;
  color: #fff;
  text-align: center;
  padding: 20px;
}

header h1 {
  font-size: 2.5rem;
}

main {
  padding: 20px;
}

.menu-description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.image-container {
  max-width: 400px;
  flex: 1;
}

.image-container img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-details {
  max-width: 500px;
  flex: 1;
}

.menu-details h2 {
  font-size: 2rem;
  color: #333;
}

.menu-details p {
  font-size: 1.2rem;
  color: #555;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  font-size: 1rem;
}
